<%- include ('header') -%> 
   <div class="box" id="heading">
    <h1><%= ListTitle %> </h1>
    </div>
  
    <div class="box">
    <%newListItems.forEach(function (item){ %>
        <form action="/delete" method="POST">
            
                <div class="item">
                    <input type="checkbox" name = "checkbox" value = "<%= item._id %>" onChange="this.form.submit()">
                    <p><%= item.name %> </p>
                <input type="hidden" name ="ListName" value ="<%= ListTitle %>" ></input>
                </div>
            <input type="hidden" name="listName" value="<%= ListTitle %>" ></input>
        </form>
    <% });%>

             
         

       <form class ='item'action="/" method="POST">
        <input type="text" name="input" placeholder="NewItem" autocomplete="off">

        <button type="submit" name="button" value="<%= ListTitle %>">+</button>
    </form>
    
    </div>
    
    <%- include ('footer') -%> 